@inherits LanguageSelectorBase

@*https://stackoverflow.com/questions/5427414/editing-a-git-submodule*@
<div class="dropdown">
	<button class="btn dropdown-toggle"
	        type="button"
	        data-bs-toggle="dropdown"
	        aria-expanded="false">
		<img class="flag-icon" src="/images/@SelectedCountrySvg" alt="GB" />
		@SelectedCountryCode
	</button>
	<ul class="dropdown-menu dropdown-menu-dark"
	    aria-labelledby="navbarDropdownLangLink">
		<li @onclick="@(e => OnClickItem(e,@CountryCodeUk))">
			<a class="dropdown-item" href="#">
				<div class="container text-center">
					<div class="row">
						<div class="col">
							<img class="flag-icon" src="/images/gb.svg" alt="@CountryCodeUk">
						</div>
						<div class="col">
							GB
						</div>
					</div>
				</div>
			</a>
		</li>
		<li @onclick="@(e => OnClickItem(e,CountryCodeGermany))">
			<a class="dropdown-item" href="#">
				<div class="container text-center">
					<div class="row">
						<div class="col">
							<img class="flag-icon" src="/images/de.svg" alt="@CountryCodeGermany">
						</div>
						<div class="col">
							DE
						</div>
					</div>
				</div>
			</a>
		</li>
		<li @onclick="@(e => OnClickItem(e,CountryCodeItaly))">
			<a class="dropdown-item" href="#">
				<div class="container text-center">
					<div class="row">
						<div class="col">
							<img class="flag-icon" src="/images/it.svg" alt="@CountryCodeItaly">
						</div>
						<div class="col">
							IT
						</div>
					</div>
				</div>
			</a>
		</li>
	</ul>
</div>
